DJANGO_SECRET_KEY=django_secret_key_here
OPENWEBUI_API_KEY=user_openwebui_API_key
OPENWEBUI_URL=http://localhost:3000 # Must be same domain as Django
OPENWEBUI_TRUSTED_EMAIL_HEADER=X-Forwarded-Email #Leave it as is
OPENWEBUI_TRUSTED_NAME_HEADER=X-Forwarded-Name  #Leave it as is
OPENWEBUI_TRUSTED_ROLE_HEADER=X-Forwarded-Role  #Leave it as is
MOODLE_CONSUMER_KEY=moodle_key
MOODLE_SHARED_SECRET=your_super_secret_moodle_shared_secret